<a href="https://colab.research.google.com/github/Mjboothaus/getting-started-python/blob/main/GettingStartedPythonAnalytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DataBooth - Some resources for getting started with Python and Analytics

This short document provides a few recommendations for getting started with the Python language and data analytics.

There is **no unique path** to follow - we all learn differently - although I think it is true that most of us learn best by doing i.e. experimenting with code and solving small problems as we go along. Few of us "get the textbook" and work systematically through it!

Unless otherwise indicated, these resources are available for free (or the courses can be taken for free in "audit" mode).

There are many other quality free and paid resources available online, however, these are very good starting places. **Happy problem solving and coding - Enjoy!**

In no particular order...

## Google Colaboratory

That's the platform that this document is hosted on.
Google has plenty of resources to help you learn about using their complimentary, computational notebooks (their version of [Jupyter](https://jupyter.org) notebooks).

See their excellent introductory overview notebook [here](https://colab.research.google.com/notebooks/intro.ipynb).

## IBM courses on Coursera

[Python for Data Science, AI & Development](https://www.coursera.org/learn/python-for-applied-data-science-ai) this course can be done as part of a number of specialities - the following 2 look most relevant:
- [Data Science Fundamentals with Python and SQL Specialization](https://www.coursera.org/specializations/data-science-fundamentals-python-sql)
- [Data Engineering Foundations Specialization](https://www.coursera.org/specializations/data-engineering-foundations)

If I'm being completely frank, it seems to me that _Data Engineering_ skills are likely to be in great demand that _Data Science_ skills moving forward - although there can be significant overlap between the two areas.

## Replit.com

Replit provides a free, on-demand, collaborative, in-browser IDE to code in over 50 languages. Consquently it does not require any explicit setup to get going which makes it a great platform for newbies with a gamified look and feel :)

Create an account here [Replit.com](https://replit.com) and choose a Python project to get going.

There are some Python specfic tutorials embedded within the learning materials on the platform.

## Two (low cost) paid options - Jose Portilla Udemy Courses

- [2022 Complete Python Bootcamp From Zero to Hero in Python](https://www.udemy.com/course/complete-python-bootcamp/)
- [Python for Data Science and Machine Learning Bootcamp](https://www.udemy.com/course/python-for-data-science-and-machine-learning-bootcamp/)

I learnt Python from the first of these two courses. Typically you can purchase them on Udemy at significant discount for around AUD $20.

## Tinkerstellar (iPad option)

If you own an iPad there are some (fairly) new, still in beta, and interesting learning resources. From my testing they feel very solid and are elegant - bit like a glossy magazine style using [Jupyter](https://jupyter.org/) notebooks.

Tinkerstellar is an iPad app that helps you learn coding and data science with interactive tutorials (or labs), where you can edit and run code examples straight away â€” no need to configure environments, download datasets or rely on networking connection to execute code. Just download a lab, and youâ€™re ready to play around and experiment with code solving real-world problems of computational science ðŸš€.

Dr. Michael J. Booth

Founder, DataBooth

michael@databooth.com.au

_p.s. any errors/typos please email me._

## Simple example - Loading / Preview of data 

Some Python code to load some data from NSW Open Data

In [ ]:
import pandas as pd  # Pandas is the usual library for doing structured data analysis

Example data set from NSW Open Data website

[https://data.nsw.gov.au/search/dataset/ds-nsw-ckan-aefcde60-3b0c-4bc0-9af1-6fe652944ec2/distribution/dist-nsw-ckan-21304414-1ff1-4243-a5d2-f52778048b29/details?q=](https://data.nsw.gov.au/search/dataset/ds-nsw-ckan-aefcde60-3b0c-4bc0-9af1-6fe652944ec2/distribution/dist-nsw-ckan-21304414-1ff1-4243-a5d2-f52778048b29/details?q=)

In [ ]:
data_URL = "https://data.nsw.gov.au/data/dataset/aefcde60-3b0c-4bc0-9af1-6fe652944ec2/resource/21304414-1ff1-4243-a5d2-f52778048b29/download/confirmed_cases_table1_location.csv"

In [ ]:
data_df = pd.read_csv(data_URL)

In [ ]:
data_df.head()

  notification_date postcode  ... lga_code19       lga_name19
0        2020-01-25     2071  ...      14500  Ku-ring-gai (A)
1        2020-01-25     2134  ...      11300      Burwood (A)
2        2020-01-25     2121  ...      16260   Parramatta (C)
3        2020-01-27     2033  ...      16550     Randwick (C)
4        2020-03-01     2163  ...      12850    Fairfield (C)

[5 rows x 6 columns]

In [ ]:
data_df['postcode'].nunique()

585

In [ ]:
data_df.describe()

       notification_date postcode  ... lga_code19                lga_name19
count             112307   112307  ...     111118                    111118
unique               639      585  ...        127                       127
top           2021-12-22     2170  ...      11570  Canterbury-Bankstown (A)
freq                4890     3416  ...      14598                     14598

[4 rows x 6 columns]

In [ ]:
data_df.tail(7)

       notification_date postcode  ... lga_code19          lga_name19
112300        2021-12-22     2165  ...      12850       Fairfield (C)
112301        2021-12-22     2298  ...      15900       Newcastle (C)
112302        2021-12-22     2031  ...      16550        Randwick (C)
112303        2021-12-22     2290  ...      14650  Lake Macquarie (C)
112304        2021-12-22     2046  ...      11520      Canada Bay (A)
112305        2021-12-22     2170  ...      14900       Liverpool (C)
112306        2021-12-22     2763  ...      10750       Blacktown (C)

[7 rows x 6 columns]